<div class="alert alert-danger text-center">
    <h1>ERROR</h1>
    <p>No se puede eliminar un producto que se encuentre en el detalle de un presupuesto</p>
    <p>Seras redirigido en 5 segundos...</p>
</div>
<meta http-equiv="refresh" content="5;url=@Url.Action("Index", "Productos")">